<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need your photos</string>
	<key>NSCameraUsageDescription</key>
	<string>Need your cam!</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.471967742267-qfcf0p6rl2grpm3noqd0hr1ve8hrr8he</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>MontserratSemiBold.ttf</string>
		<string>MontserratBold.ttf</string>
		<string>MontserratRegular.ttf</string>
		<string>MontserratMedium.ttf</string>
	</array>
</dict>
</plist>
